@import "../../variables.scss";


.collage-grid {
	position: relative;
	display: grid;
	grid-template-areas:
	"pictures-container"
	"buy-container";
	grid-template-rows: minmax(100px ,1fr);
	grid-template-columns: minmax(100px, auto);
	gap:10px;
	img {
		width: 100%;
	}

	&:hover {
		.btn-arrow{
			display: flex;
			top: 45%;
		}
	}

	.pictures-container {
		grid-area: pictures-container;
		display: grid;
		grid-template-columns: minmax(100px ,1fr);
		grid-template-rows: minmax(100px, 1fr);
	}
	.img0 {
		grid-row-start:1;
		display: inline;
	}
	.buy-container {
		grid-area: buy-container;
	}
}

.pictures-grid-item, .btn-arrow {
	display: none;
}

.btn-arrow {
	background-color: transparent;
	border: none;
	position: absolute;
	cursor: pointer;
	padding: 0;
	
	img {
		min-width: 10px;
	}

	&__left {
		left: 5px;
	}

	&__right {
		right: 5px;
	}
}

.shop-btn {
	border: none;
	padding: 7px 15px;
	background-color: $small-title-color;
	color: whitesmoke;
}

.buy-container.collage-grid-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align:center;
	justify-content: center;
}

.collage-slogan {
	color: black;
}


@media screen and (min-width: 314px) {
	.collage-grid {
		grid-template-areas:
		"pictures-container buy-container";
		grid-template-columns: 2fr 3fr;
		grid-template-rows: minmax(100px, auto);
		background-color: black;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: center;

		.pictures-container {
			grid-template-rows: repeat(2, minmax(100px ,1fr));
			align-items: center;
		}

		.img1 {
			grid-row-start:2;
			display: inline;
		}
	}

	.btn-arrow {
		img {
			height: 30px;
		}
	}

	.collage-slogan {
		color: white;
	}
}

@media screen and (min-width: 420px) {
	.collage-grid {
		display: grid;
		max-width: 1800px;
		grid-template-columns:  1fr minmax(200px, 20%);
		min-height: 1vh;

		img {
			width: 100%;
			// max-height: 300px;
		}
		
		.pictures-container {
			display: grid;
			grid-auto-flow: column;
			column-gap: 20px;
			grid-template-columns:  repeat(auto-fit,minmax(150px,1fr));
			grid-template-rows: 1fr;
			grid-area: 1 /1 ;
			overflow: hidden;

			.img1 {
				grid-row-start:1;
			}
		}
		.img0 {
			width: 100%;
		}
		img { 
			min-width: 100px;
		}

	}
	
	.grid-column-together2 {
		img {
			justify-items: center;
			min-height: 100px;
			max-height: 150px;
		}
	}

	.pictures-grid-item{
		display: inline-block;
	}
	
	.buy-container {
		padding: 20px;
		h3 {
			font-size: $font-md;
		}
	}
}