$text-color: #000000;
$title-color: #5C608A;
$small-title-color: #7D89A3;
$line-color: #EAEAEA;
$base-screen-width: 1160px;
$base-text-fs: 16px;

// Define responsive font sizes
$font-xs: 0.5rem;
$font-sm: 1rem;
$font-md: 1.2rem;
$font-lg: 1.5rem;

// Define responsive margins and padding
$margin-xs: 0.5rem;
$margin-sm: 1rem;
$margin-md: 2rem;
$margin-lg: 3rem;
